<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> New product </title>
</head>
<body>
    <h1> ADD a new product </h1>
    <form action="/products" method="POST">
        <input type="text" name="name" placeholder="product name">
        <input type="number" name="price" placeholder="product price">
        <select name="category">
            <option value="fruit"> fruit </option>
            <option value="vegetable"> vegetable </option>
            <option value="dairy"> dairy </option>
        </select>
        <button> Submit </button>
    </form>
</body>
</html>